<div class="container-fluid my-3">
  <div class="row">
    <div class="col-2">
      <img src="assets/logos/fmb_w&b.png" alt="Logo Of FMB" class="logo" />
    </div>
    <div class="col-7">
      <ul class="d-flex align-items-center justify-content-around text-center">
        <li>
          <i class="fa-solid fa-diagram-project"></i><br />
          <B>NETWORK</B>
        </li>
        <li>
          <i class="fa-solid fa-bell"></i> <br />
          <B>NOTICE</B>
        </li>
        <li><i class="fa-solid fa-magnifying-glass"></i></li>
      </ul>
    </div>
    <div class="col-3">Profile</div>
  </div>
</div>
